


img {
    object-fit: cover;
    transition: transform 0.3s ease, filter 0.3s ease;
}


img:hover {
    transform: scale(1.1);
    filter: brightness(1.1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}


img.hidden {
    display: none;
}

.category-1 {
    background-color: lightblue;
}

.category-2 {
    background-color: lightgreen;
}

.m-2 {
    margin: 10px;
}

.carousel-item img {
    height: 400px;
    width: 100%;
}
